# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# TensorFlow / Model files & Logs
*.h5
*.keras
*.joblib
*.pkl
*.pb
logs/
checkpoints/
tensorboard_logs/

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
